.filter,
.content,
.actions {
    display: flex;
}

.filter {
    flex-wrap: wrap;
    background-color: transparent;
    transition: background-color 0.3s;
}

.hovered {
    background-color: var(--background-color-accent);
}

.content {
    flex: 1 1;
    overflow: hidden;
}

.action {
    margin-left: 3px;
}
