.wrapper {
    background-color: var(--background-color);
    border: 3px solid var(--background-color-accent);

    position: absolute;
    top: 10px;
    left: 10px;

    padding: 0.6rem 0.5rem;
    border-radius: 8px;

    width: 100%;
    max-width: 210px;

    z-index: 1;
}
